# Backend API URL
# Local development
REACT_APP_API_URL=http://localhost:8000
#REACT_APP_API_URL=https://healthy-meal-planner-0s0b.onrender.com/
# Production (Cloudflare Workers)
# REACT_APP_API_URL=https://api.healthy-meal-planner.workers.dev
